body {
  margin: 0;
   font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  background-color: black;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

input[type="tel"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #0e7e18;
}

#status {
  margin-top: 15px;
  color: green;
}